{% load staticfiles %}
<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="zh">
<head>
    <meta charset="butf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>CMS.电子图书文档管理工具.增加图书资料</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="{% static 'bootstrap-3.3.7/css/custom.css' %}" rel="stylesheet"> 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
 	<script src="{% static 'bootstrap-3.3.7/js/holder.js' %}"></script>
 	<script src="{% static 'bootstrap-3.3.7/js/validator.min.js' %}"></script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/home/">首页</a>
                    </li>
                    <li class="active">
                        <a href="/ebook/">返回</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container  导航头部 -->
    </nav>

    <div class="container-fluid">
	    <!-- 下面为显示区， -->
    	<!-- 共两列 -->
        <div class="col-sm-1">
        </div>
		<div class="col-sm-3">

			<!-- List-Group Panel -->
          <div class ="row">
              <form class="form-horizontal" data-toggle="validator" role="form" method="post" action="/ebook/addpublisher/" >
                <fieldset>
                    <div id="legend" class="">
                        <legend class="">{%if dotype == 1 and isaddpublisher %}
                            增加出版社({{pname}})成功
                            {%else%}
                            {%if dotype == -100 and isaddpublisher%}
                            出版社({{pname}})已存在
                            {%else%}
                            增加出版社                            
                            {%endif%}
                            {%endif%}
                        </legend>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="input01">出版社名称</label>
                        <div class="controls">
                            <input type="text" placeholder="请输入出版社名称" class="form-control input-xlarge" name ="addpublishername" required
                                   data-bv-notempty-message="firstName不能为空(提示语)" >
                            <div class="help-block">系统中用到的出版社名称或图书源出处</div>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">保存</button> 
                        </div>
                    </div>

                </fieldset>
              </form>
          </div>
          <hr><hr>

          <div class="row">
                  <form class="form-horizontal" data-toggle="validator" role="form" method="post" action="/ebook/addbooktype/" >
                      <fieldset>
                          <div id="legend" class="">
                              <legend class="">{%if dotype == 3 and isaddbooktype%}
                                  增加图书类别({{pname}})成功
                                  {%else%}
                                  {%if dotype == -100 and isaddbooktype%}
                                  类别({{pname}})已存在
                                  {%else%}
                                  增加图书类别
                                  {%endif%}
                                  {%endif%}
                              </legend>
                          </div>
                          <div class="control-group">
                              <label class="control-label" for="input01">类别名称</label>
                              <div class="controls">
                                  <input type="text" placeholder="请输入图书类别名称" class="form-control input-xlarge" name ="addbooktypename" required
                                         data-bv-notempty-message="类别名称不能为空！" >
                                  <div class="help-block">系统中用到的图书大分类、主分类</div>
                              </div>
                          </div>

                          <div class="control-group">
                              <div class="controls">
                                  <button type="submit" class="btn btn-primary">保存</button> 
                              </div>
                          </div>

                      </fieldset>
                  </form>              
          </div>
          <hr><hr>
          <div class="row">
              <form class="form-horizontal" data-toggle="validator" role="form" method="post" action="/ebook/addauthor/" >
                  <fieldset>
                      <div id="legend" class="">
                          <legend class="">{%if dotype == 2 and isaddauthor%}
                              增加作者({{pname}})成功
                              {%else%}
                              {%if dotype == -100 and isaddauthor%}
                              作者({{pname}})已存在
                              {%else%}
                              增加作者
                              {%endif%}
                              {%endif%}
                          </legend>
                      </div>
                      <div class="control-group">
                          <label class="control-label" for="input01">作者名</label>
                          <div class="controls">
                              <input type="text" placeholder="请输入作者名" class="form-control input-xlarge" name ="addauthorname" required
                                     data-bv-notempty-message="作者名不能为空！" >
                              <div class="help-block">系统中用到的作者</div>
                          </div>
                      </div>

                      <div class="control-group">
                          <div class="controls">
                              <button type="submit" class="btn btn-primary">保存</button> 
                          </div>
                      </div>

                  </fieldset>
              </form>
          </div>

        </div> <!-- 左列 -->

        <div class="col-sm-1">
        </div>
		<!-- Center Column 中间列，主显示区，占6格（一半）-->
		<div class="col-sm-6">

			<!-- Articles -->
			<div class="row">
				<article class="col-xs-12">
					<!-- 下面是增加图书资源form  -->
                    <form class="form-horizontal">
                        <fieldset>
                            <div id="legend" class="">
                                <legend class="">增加书籍</legend>
                            </div>
                            

                            <div class="control-group">

                                <!-- Text input-->
                                <label class="control-label" for="input01">图书资源名称</label>
                                <div class="controls">
                                    <input type="text" placeholder="书籍名称" class="input-xlarge">
                                    <p class="help-block">图书的细分名称，不一定是主要图书，可以是一个小类</p>
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- Select Basic -->
                                <label class="control-label">分类</label>
                                <div class="controls">
                                    <select class="input-xlarge">
                                        <option>图书分类</option>
                                        <option>A</option>
                                        <option>B</option></select>
                                </div>

                            </div><div class="control-group">

                                <!-- Select Basic -->
                                <label class="control-label">出版社</label>
                                <div class="controls">
                                    <select class="input-xlarge">
                                        <option>出版社</option>
                                        <option>A</option>
                                        <option>B</option></select>
                                </div>

                            </div><div class="control-group">

                                <!-- Select Multiple -->
                                <label class="control-label">作者</label>
                                <div class="controls">
                                    <select class="input-xlarge" multiple="multiple">
                                        <option>选择作者</option>
                                        <option>A</option>
                                        <option>B</option></select>
                                </div>
                            </div><div class="control-group">

                                <!-- Textarea -->
                                <label class="control-label">内容简介</label>
                                <div class="controls">
                                    <div class="textarea">
                                        <textarea type="" class=""> </textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label"></label>

                                <!-- Button -->
                                <div class="controls">
                                    <button class="btn btn-primary">保存</button>
                                </div>
                            </div>

                            
                            <div class="control-group">
                                <label class="control-label"></label>

                                <!-- Button -->
                                <div class="controls">
                                    <button class="btn btn-info">取消</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
			</div>
			<hr>
	        <div class="col-sm-1">
            </div>
	</div><!--/container-fluid-->
	
    <!-- jQuery -->
    <script src="{% static 'bootstrap-3.3.7/js/jquery-1.11.3.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
	
	<!-- IE10 viewport bug workaround -->
	<script src="{% static 'bootstrap-3.3.7/js/ie10-viewport-bug-workaround.js' %}"></script>
	
	<!-- Placeholder Images -->
	<script src="{% static 'bootstrap-3.3.7/js/holder.js' %}"></script>

    <script src="{% static 'bootstrap-3.3.7/js/validator.min.js' %}"></script>
	
</body>

</html>
