{% load staticfiles %}
<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="zh">
<head>
    <meta charset="butf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>CMS.电子图书文档管理工具</title>

    {%include "head.html"%}




</head>

<body style="background: url({% static 'img/body00.jpg' %}">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">

            <!-- 整体容器显示LOGO -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar">图标1</span>
                    <span class="icon-bar">图标2</span>
                    <span class="icon-bar">图标3</span>
                </button>
               <!--  <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-globe"></span> 显示Logo</a> -->
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/home/">首页</a>
                    </li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">操作<span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
							<li><a href="/ebook/openaddbookandtype/">增加</a></li>
							<li><a href="/ebook/deletebook/">删除</a></li>
						</ul>
					</li>
                </ul>

				<!-- Search -->
				<form class="navbar-form navbar-right" role="search">
					<div class="form-group">
						<input type="text" class="form-control">
					</div>
					<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>搜索</button>
				</form>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container  导航头部 -->
    </nav>

    <div class="container-fluid">
	    <!-- 下面为显示区， -->
        <div class="col-sm-1">
        </div>

		<div class="col-sm-2">

			<!-- List-Group Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><span class="glyphicon glyphicon-random"></span>图书资源分类</h4>
				</div>

                <div class="col-sm-6">
                    <ul class="nav nav-tabs nav-stacked">
                        {%for typename in typelist%}
                        <li><a href="/ebook/booklistbytypename/?typename={{typename | urlencode}}">{{typename}}</a></li>
                        {%endfor%}
                   </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="nav nav-tabs nav-stacked">
                        {%for typename in typelist1%}
                        <li><a href="/ebook/booklistbytypename/?typename={{typename | urlencode}}">{{typename}}</a></li>
                        {%endfor%}
                    </ul>
                </div>
                <!-- 分两列显示分类 -->
			</div>


		</div><!--/Left Column-->


		<!-- Center Column 中间列，主显示区，占6格（一半）-->
		<div class="col-sm-6">

			<!-- Articles -->
			<div class="row">
				<article class="col-xs-12">
                    <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        {%for i in pagenums%}
                        <li><a href="/ebook/openbooksbypage/?pagenum={{i}}">{{i}}</a></li>
                        {%endfor%}
                        <li><a href="#">&raquo;</a></li>
                    </ul><br>

                    {%for book in bookrlt%}
                    <div class="btn-group">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{book.bookname}}
                        </button>
                            <ul class="dropdown-menu">
                            {%for file in book.filelist%}
                                <li><a class="dropdown-item" href="/ebook/downloadfile/?fileid={{file.fileid}}"><strong>{{file.name}}</strong>,
                                    {{file.size}},{{file.uploaddate}}</a></li>
                                {%endfor%}
                            </ul>
                    </div> <!-- 下拉菜单显示资源文件列表 -->
                    {%if request.user.is_authenticated%}
					    <a href="/ebook/modifybook?bookid={{book.bookid}}">修改</a>
                        {%endif%}

                    <h5>出版社：{{book.bookpublisher}}</h5>
                    <h5>作者：{{book.bookauthors}}</h5>
                    <h5>简介：{{book.bookdetial}}</h5>
                    {%endfor%}
				</article>
			  </div>
		</div><!--/Center Column-->


	  <!-- Right Column 在边一行-->
	  <div class="col-sm-2">

			<!-- Form 一个登录FORM -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-log-in"></span>
                        {% if request.user.is_authenticated %}
						用户({{request.user.username}})已登录
                        {%else%}
                        未登录
                        {% endif %}
					</h3>
				</div>
				<div class="panel-body">
					<form method="POST" action="/login/">
						<div class="form-group">
							<input type="text" class="form-control" id="uid" name="uid" placeholder="用户名">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" id="pwd" name="pwd" placeholder="密码">
						</div>

						<button type="submit" class="btn btn-primary">登 录</button>
					</form>
				</div>
			</div>

	  </div><!--/Right Column -->

      <div class="col-sm-1">
      </div>


	</div><!--/container-fluid-->

	<footer>

	</footer>

</body>

</html>
