# 忽略 文件 目录

settings.py
__pycache__/

env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

build/
tmp/
temp/
out/
#res/
test/ 


*.py[cod]
*$py.class


*.o
*.a
*.so
*.obj

*.zip
*.rar

*.tmp
*.err

Makefil*
makefil*
*.pro.*

#*.rc
#*.ico
#*.bmp
#*.jpg

#*.png

*.exe
*.bak
*.dll
*~*

.Python
*.python-35.*



