{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="butf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CMS..增加软件资料</title>

        {% include "head.html" %}

        <script type="text/javascript">
         //点击增加软件分类,成功后将新的分类加入到下拉列表中
         $(function(){
             $("#addsofttype_btn").click(function()
                 {
                     var softtypename = $("#addsofttypename").val();
                     if (softtypename == ''){
                         alert("请输入软件分类名称！");
                         return;
                     }

                     $.post("/software/addsofttype/",
                            {
                                typename:$("#addsofttypename").val()
                            },
                            function(ret){
                                $("#showaddsofttypeinfo").html(ret.info);
                                var newflag = ret.newflag;
                                if (newflag == true)
                                    {
                                        $("#softselecttype").append("<option>"+$("#addsofttypename").val()+"</option>");
                                    }
                            });
                 });
         });


         //新建，清除信息
         $(function(){
             $("#softnew_btn").click(function(){
                 $("softid").val('');
                 $("#softname").val('');
                 $("#softselecttype").val('');
                 $("#softselecttype1").empty('');
                 $("#softmemo").val('');
             });//click
         });//ready


         //新加或修改软件资料
         $(function(){
             $("#softsave_btn").click(function(){
                 if (($("#softname").val() == '') || ($("#softselecttype").val() == '') || ($("#softmemo").val().replace(/\ +/g,"") == '')){
                     alert('请填写好所有内容后再提交！');
                     return;
                 };
                 var softtypes = $("#softselecttype1 option").map(function(){return $(this).val();}).get().join("||");
                 $.post("/software/addsoft/",
                        {
                            softid:$("#softid").val(),
                            softname:$("#softname").val(),
                            softtype:softtypes,
                            softmemo:$("#softmemo").val()
                        },
                        function(ret){
                            $("#showaddsoftinfo_legend").html(ret.retinfo);
                            $("#softid").val(ret.softid);
                        });//post

             });//click
         });//ready

         //新选择一个分类
         $(function(){
             $("#addselectsofttype_btn").click(function(){
                 var selecttype = $("#softselecttype").val();
                 var isexist = false;

                 $("#softselecttype1 option").each(function (){ //遍历已选看是否存在
                     var txt = $(this).text();
                     if (txt == selecttype){
                         isexist = true;
                         return false; //在JQuery中循环为 reutrn false
                     }
                 });
                 if (isexist == false)
                     $("#softselecttype1").append("<option>"+ selecttype +"</option>");
             });//click
         });//$(func)

         //删除一个选中的已选类别
         $(function(){
             $("#delselectsofttype_btn").click(function(){
                 $("#softselecttype1 option:selected").remove();
             });//click
         });//$(func)

        </script>

    </head>

    <body style="background: url({% static 'img/body00.jpg' %}" >

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">

                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/home/">首页</a>
                        </li>
                        <li class="active">
                            <a href="/software/">返回</a>
                        </li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container  导航头部 -->
        </nav>

        <div class="container-fluid">
	        <!-- 下面为显示区， -->
    	    <!-- 共两列 -->
            <div class="col-sm-1">
            </div>
		    <div class="col-sm-3">

			    <!-- List-Group Panel -->

                <div class="row">
                    <form class="form-horizontal" data-toggle="validator" role="form" method="post" >
                        <fieldset>
                            <div id="legend" class="">
                                <legend class="" id="showaddsofttypeinfo" name="addsofttypeinfo">
                                    增加软件类别
                                </legend>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="input01">类别名称</label>
                                <div class="controls">
                                    <input type="text" placeholder="请输入类别名称" class="form-control input-xlarge" id="addsofttypename" required
                                           data-bv-notempty-message="类别名称不能为空！" >
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button type="button" class="btn btn-primary" id="addsofttype_btn">保存</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <hr><hr>
            </div> <!-- 左列 -->

            <div class="col-sm-1">
            </div>
		    <!-- Center Column 中间列，主显示区，占6格（一半）-->
		    <div class="col-sm-6">

			    <div class="row">
					<!-- 下面是增加图书资源form  -->
                    <form class="form-horizontal"  method ="post"  data-toggle="validator" role="form">
                        <fieldset>
                            <div id="legend" class="">
                                <legend class="" id="showaddsoftinfo_legend">
                                    增加软件资源
                                </legend>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <input type="text" class="form-control input-xlarge"  id="softid" style="display:none">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="input01">软件资源名称</label>
                                <div class="controls">
                                    <input type="text" placeholder="软件资源名称" class="form-control input-xlarge" id="softname" required>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">选择分类->软件类别</label>
                                <div class="input-group-btn">
                                    <select class="form-control input-xlarge" id="softselecttype" style="width: auto;">
                                        {% for name in softtypelist%}
                                        <option>{{name}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-success" id="addselectsofttype_btn" type="button">Go-></button>
                                </span>
                                <div class="input-group-btn">
                                    <select class="form-control input-xlarge" id="softselecttype1" style="width: auto;">
                                    </select>
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-warning" id="delselectsofttype_btn" type="button"><-del</button>
                                </span>
                            </div>

                                <div class="control-group">
                                <label class="control-label">内容简介</label>
                                <div class="controls">
                                    <div class="textarea">
                                        <textarea type=""   style="height:300px" class="form-control" id="softmemo" required>
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button type="button" class="btn btn-info" id="softnew_btn">新建</button>
                                    <button type="button" class="btn btn-primary" id="softsave_btn">保存</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <hr>
                <div class="row"> <!-- uloadfiles row -->
                    <form class="form-horizontal" method="post" enctype='multipart/form-data'>
                        <div class="controls">
                            <input type="file" class="file form-control"  id="files-my" name="files-my" multiple>
                        </div>
                    </form>
                </div> <!-- 上传文件ROW -->
                <script type="text/javascript">
                 $("#files-my").fileinput({
                     language: 'zh', //设置语言
                     theme: 'explorer-fa',
                     uploadUrl: "/software/uploadfiles/",
                     allowedFileExtensions: ['rar','zip','tar','gz','exe','bz','bz2','7z','ace','whl'],//接收的文件后缀
                     uploadAsync: true, //默认异步上传
                     showUpload: true, //是否显示上传按钮
                     showRemove : false, //显示移除按钮
                     showPreview : true, //是否显示预览
                     showCaption: true,//是否显示标题
                     //browseClass: "btn btn-primary", //按钮样式
                     dropZoneEnabled: false,//是否显示拖拽区域
                     //minImageWidth: 50, //图片的最小宽度
                     //minImageHeight: 50,//图片的最小高度
                     //maxImageWidth: 1000,//图片的最大宽度
                     //maxImageHeight: 1000,//图片的最大高度
                     maxFileSize: 409600,//单位为kb，如果为0表示不限制文件大小 204800K = 200M
                     //minFileCount: 0,
                     maxFileCount: 10, //表示允许同时上传的最大文件个数
                     enctype: 'multipart/form-data',
                     validateInitialCount:true,
                     //previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                     msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                     uploadExtraData:function(previewId, index) {   //额外参数的关键点
                         //var obj = {};
                         //obj.fodder = function(){return $("#addbookid")val();};
                         //return obj;
                         return {'softid':$("#softid").val()};
                     }
                 });
                </script>

            </div>  <!-- 中间一列 -->

            <div class="col-sm-1">  <!-- right col space-1 -->
            </div>
  </div><!--/container-fluid-->


</body>

</html>
