{% load staticfiles %}
<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="zh">
<head>
    <meta charset="butf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>CMS.个人收支管理工具</title>

    {%include "head.html"%}

    {%if not  request.user.is_authenticated%}
    <script language='javascript'>
     document.location = '/nologin/'
     var islogin = 0;
    </script>
    {%else%}
    <script language="javascript">
     var islogin = 1;
    </script>
    {%endif%}

    <script src="{% static 'myjs/showcostlist.js' %}" type="text/javascript"></script> <!-- TABLE显示数据 -->


</head>

<body style="background: url({% static 'img/body00.jpg' %}">

    <!-- 头部为导航区 -->
    <nav class="navbar navbar-default  navbar-inverse navbar-static-top" role="navigation"> <!-- 设定导航条，固定在顶部，黑底navbar-fixed-top -->
        <div class="container"> <!-- 导航条居中显示 -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="sr-only/">展开导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""></a>  <!-- 标题头，一般设置一个LOGO之类的 -->
            </div>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">首页</a></li>
                    <li><a href="/cost/sql/">查询</a></li>
                    <li><a href="/cost/opentotalcost/">统计</a></li>
                    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">系统<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/cost/openinputcost/">录入</a></li>
                            <li><a href="#">修改</a></li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

    <!-- 下面为工作区、显示区 -->
    <div class="container-fluid">
        <!-- 左边留白 -->
		<div class="col-sm-2">
        </div>

		<div class="col-sm-8">
            <!-- 中间8列用表格显示明细 -->
            <!-- 显示分类（可选日期、类别、科目等） -->
            <div class="row">
	            <div class="panel panel-default">
                    <div class="panel-heading">
					    数据显示方式
				    </div>

				    <div class="panel-body">
                        <div class="col-sm-6"> <!-- 一列显示过滤数据方式 -->
                        <div class="btn-group ">
                            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                年
                            </button>
                            <button class="btn btn-link" id="showselectedyear" value="all">all</button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);" onclick="clickselectyear(this)" year="all"><strong>all</strong>
                                </a></li>
                                {%for item in yearlist%}
                                <li><a class="dropdown-item" href="javascript:void(0);" onclick="clickselectyear(this)" year="{{item.year}}"><strong>{{item.year}}</strong>
                                </a></li>
                                {%endfor%}
                            </ul>
                        </div>

                        <div class="btn-group ">
                            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                月
                            </button>
                            <button class="btn btn-link" id="showselectedmonth" value="all">all</button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);" onclick="clickselectmonth(this)" month="all"><strong>all</strong>
                                </a></li>
                                {%for item in monthlist%}
                                <li><a class="dropdown-item" href="javascript:void(0);" onclick="clickselectmonth(this)" month="{{item}}"><strong>{{item}}</strong>
                                </a></li>
                                {%endfor%}
                            </ul>
                        </div>

                        <div class="btn-group ">
                            <button type="button"   class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                类别
                            </button>
                            <button class="btn btn-link" id="showselectedtype" value="all">all</button>
                            <ul class="dropdown-menu" id="menutypename">
                                <li><a class="dropdown-item" href="javascript:void(0);" onclick="clickselecttype(this)" typeid="all" typename="all"><strong>all</strong>
                                </a></li>
                                {% for item in typelist%}
                                <li><a class="dropdown-item" href="javascript:void(0);" onclick="clickselecttype(this)" typeid="{{item.id}}" typename="{{item.name}}"><strong>{{item.name}}</strong> </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="btn-group">
                            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                科目
                            </button>
                            <button class="btn btn-link" id="showselectedsubject" value="all">all</button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);" onclick="clickselectsubject(this)" subjectid="all" subjectname="all"><strong>all</strong>
                                </a></li>
                                {%for item in subjectlist%}
                                <li><a class="dropdown-item" href="javascript:void(0);" onclick="clickselectsubject(this)" subjectid="{{item.id}}" subjectname="{{item.name}}"><strong>{{item.name}}</strong>
                                </a></li>
                                {%endfor%}
                            </ul>
                        </div> <!-- 下拉菜单显示资源文件列表 -->
                             <div class="btn-group">
                                <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   排序
                                </button>
                                <button class="btn btn-link" id="showsortstyle" value="date">日期</button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="javascript:void(0);" onclick="clicksortstyle(this)" sortfield="date" sortname="日期"><strong>日期</strong>
                                    <li><a class="dropdown-item" href="javascript:void(0);" onclick="clicksortstyle(this)" sortfield="costtype" sortname="类别"><strong>类别</strong>
                                        <li><a class="dropdown-item" href="javascript:void(0);" onclick="clicksortstyle(this)" sortfield="costsubject" sortname="科目"><strong>科目</strong>
                                        </a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0);" onclick="clicksortstyle(this)" sortfield="money" sortname="金额"><strong>科目</strong>
                                        </a></li>
                                </ul>
                             </div> <!-- 下拉菜单显示资源文件列表 -->
                             <button type="button" class="btn btn-primary btn-sm" id="showcost_btn">确定</button>
                             <div class="col-sm-6">
                             </div>

				    </div> <!-- panel body -->
			    </div> <!-- panel -->
            </div>  <!-- row,显示选择类别，确定显示哪些数据 -->

            <div class="row">
                <div class="panel panel-default">
                    <table id="showcostlist_table"></table>
                </div>
            </div> <!-- 显示选择的数据 -->

		</div> <!-- cor8 -->

      <div class="col-sm-2">
          <!-- 右边留白 -->
      </div>


	</div><!--/container-fluid-->

	<footer>

	</footer>

</body>

</html>
