{% load staticfiles %}
<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="zh">
<head>
    <meta charset="butf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>CMS.股票分析工具.数据管理</title>

    {% include "head.html" %}

    <!--  检测是否登录 -->
    {%if not  request.user.is_authenticated%}
    <script language='javascript'>document.location = '/home/nologin/'</script>
    {%endif%}


    <script type="text/javascript">

     //更新行业数据
     $(function(){
         $("#updateindustry_btn").click(function(){
             $.post("/stock/updateindustry/",
                    {},
                    function(ret){
                        alert(ret);
                    }
             );
         });
     });


     $(function(){
         $("#updateconcept_btn").click(function(){
             $.post("/stock/updateconcept/",
                    {},
                    function(ret){
                        alert(ret);
                    }
             );
         });
     });

     $(function(){
         $("#updatearea_btn").click(function(){
             $.post("/stock/updatearea/",
                    {},
                    function(ret){
                        alert(ret);
                    }
             );
         });
     });

     $(function(){
         $("#updatesme_btn").click(function(){
             $.post("/stock/updatesme/",
                    {},
                    function(ret){
                        alert(ret);
                    }
             );
         });
     });

     $(function(){
         $("#updategem_btn").click(function(){
             $.post("/stock/updategem/",
                    {},
                    function(ret){
                        alert(ret);
                    }
             );
         });
     });

     $(function(){
         $("#updatehs300_btn").click(function(){
             $.post("/stock/updatehs300/",
                    {},
                    function(ret){
                        alert(ret);
                    }

             );
         });
     });

     $(function(){
         $("#updatesz50_btn").click(function(){
             $.post("/stock/updatesz50/",
                    {},
                    function(ret){
                        alert(ret);
                    }
             );
         });
     });

     $(function(){
         $("#updatezz500_btn").click(function(){
             $.post("/stock/updatezz500/",
                    {},
                    function(ret){
                        alert(ret);
                    }
             );
         });
     });

     $(function(){
         $("#updatest_btn").click(function(){
             $.post("/stock/updatest/",
                    {},
                    function(ret){
                        alert(ret);
                    }
             );
         });
     });

     $(function(){
         $("#updateterminate_btn").click(function(){
             $.post("/stock/updateterminate/",
                    {},
                    function(ret){
                        alert(ret);
                    }
             );
         });
     });

     $(function(){
         $("#updatesuspend_btn").click(function(){
             $.post("/stock/updatesuspend/",
                    {},
                    function(ret){
                        alert(ret);
                    }
             );
         });
     });


    </script>

</head>

<body style="background: url({% static 'img/body00.jpg' %}">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">

            <!-- 整体容器显示LOGO -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar">图标1</span>
                </button>
               <!--  <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-globe"></span> 显示Logo</a> -->
        </div>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/home/">首页</a>
                    </li>
                    <li>
                        <a href="/stock/">返回</a>
                    </li>
<!--
                    <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">板块列表<span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><center><button type="button" class="btn btn-sm btn-success">行业</button></center></li>
                            <li><center><button type="button" class="btn btn-sm btn-primary">地域</button></center></li>
                            <li><center><button type="button" class="btn btn-sm btn-success">概念</button></center></li>
                            <li><center><button type="button" class="btn btn-sm btn-primary">中小板</button></center></li>
                            <li><center><button type="button" class="btn btn-sm btn-success">创业板</button></center></li>
                            <li><center><button type="button" class="btn btn-sm btn-primary">风险警示板</button></center></li>
                            <li><center><button type="button" class="btn btn-sm btn-success">上证50</button></center></li>
                            <li><center><button type="button" class="btn btn-sm btn-primary">中证500</button></center></li>
                            <li><center><button type="button" class="btn btn-sm btn-success">沪深300及权重</button></center></li>
                            <li><center><button type="button" class="btn btn-sm btn-primary">暂停上市</button></center></li>
                            <li><center><button type="button" class="btn btn-sm btn-success">终止上市</button></center></li>
						</ul>
					</li>
-->
                </ul>

				<!-- Search -->
				<form class="navbar-form navbar-right" role="search">
					<div class="form-group">
						<input type="text" class="form-control">
					</div>
					<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>搜索</button>
				</form>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container  导航头部 -->
    </nav>

    <div class="container-fluid">
	    <!-- 下面为显示区， -->
        <div class="col-sm-1">
        </div>

		<div class="col-sm-2">

	        <div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><span class="glyphicon glyphicon-random"></span>更新股票分类数据</h4>
				</div>
                <ul class="nav nav-tabs nav-stacked">
                        <li><center><button type="button" class="btn btn-sm btn-success" id="updateindustry_btn">更新行业分类</button></center></li>
                        <li><center><button type="button" class="btn btn-sm btn-info" id="updatearea_btn">更新地域分类</button></center></li>
                        <li><center><button type="button" class="btn btn-sm btn-success" id="updateconcept_btn">更新概念分类</button></center></li>
                        <li><center><button type="button" class="btn btn-sm btn-info" id="updatesme_btn">更新中小板</button></center></li>
                        <li><center><button type="button" class="btn btn-sm btn-success" id="updategem_btn">更新创业板</button></center></li>
                        <li><center><button type="button" class="btn btn-sm btn-info" id="updatest_btn">更新风险警示板</button></center></li>
                        <li><center><button type="button" class="btn btn-sm btn-success" id="updatesz50_btn">更新上证50</button></center></li>
                        <li><center><button type="button" class="btn btn-sm btn-info" id="updatezz500_btn">更新中证500</button></center></li>
                        <li><center><button type="button" class="btn btn-sm btn-success" id="updatehs300_btn">更新沪深300及权重</button></center></li>
                        <li><center><button type="button" class="btn btn-sm btn-info" id="updatesuspend_btn">更新暂停上市</button></center></li>
                        <li><center><button type="button" class="btn btn-sm btn-success" id="updateterminate_btn">更新终止上市</button></center></li>
                </ul>
            </div>

		</div><!--/Left Column-->


		<!-- Center Column 中间列，主显示区，占6格（一半）-->
		<div class="col-sm-6">

		</div><!--/Center Column-->


	  <!-- Right Column 在边一行-->
	  <div class="col-sm-2">


	  </div><!--/Right Column -->

      <div class="col-sm-1">
      </div>


	</div><!--/container-fluid-->

	<footer>

	</footer>

</body>

</html>
