{% load staticfiles %}
<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>INFO内容管理系统</title>

    <script src="{% static 'bootstrap-3.3.7/js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}" type="text/javascript"></script>

    <link href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-3.3.7/css/custom.css' %}" rel="stylesheet"> 
 	<script src="{% static 'bootstrap-3.3.7/js/holder.js' %}"></script>
 	<script src="{% static 'bootstrap-3.3.7/js/validator.min.js' %}"></script>

    <link href="{% static 'bootstrap-3.3.7/css/fileinput.css' %}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{% static 'bootstrap-3.3.7/themes/explorer-fa/theme.css' %}" media="all" rel="stylesheet" type="text/css"/>

    <script src="{% static 'bootstrap-3.3.7/js/plugins/sortable.js' %}" type="text/javascript"></script>
    <script src="{% static 'bootstrap-3.3.7/js/fileinput.js' %}" type="text/javascript"></script>
    <script src="{% static 'bootstrap-3.3.7/js/locales/zh.js' %}" type="text/javascript"></script>
    <script src="{% static 'bootstrap-3.3.7/themes/explorer-fa/theme.js' %}" type="text/javascript"></script>
    <script src="{% static 'bootstrap-3.3.7/themes/fa/theme.js' %}" type="text/javascript"></script>
    <script src="{% static 'bootstrap-3.3.7/js/popper.js' %}" type="text/javascript"></script>

    <script src="{% static 'summernote3/summernote.js' %}" type="text/javascript"></script>
    <link href="{% static 'summernote3/summernote.css' %}" media="all" rel="stylesheet" type="text/css"/>
    <script src="{% static 'summernote3/lang/summernote-zh-CN.js' %}" type="text/javascript"></script>


</head>

<body style="background: url({% static 'img/body00.jpg' %}" >

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">

            <!-- 整体容器显示LOGO -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar">图标1</span>
                    <span class="icon-bar">图标2</span>
                    <span class="icon-bar">图标3</span>
                </button>
               <!--  <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-globe"></span> 显示Logo</a> -->
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a href="#">关于</a>
                    </li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户<span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
						<!-- >	<li><a href="/userreg/">用户注册</a></li>
							<li><a href="#">修改密码</a></li>
                            -->
							<li><a href="/logout/">退出登录</a></li>
						</ul>
					</li>
                </ul>

				<!-- Search -->
				<form class="navbar-form navbar-right" role="search">
					<div class="form-group">
						<input type="text" class="form-control">
					</div>
					<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> 搜索</button>
				</form>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container  导航头部 -->
    </nav>

    <div class="container-fluid">
	    <!-- 下面为显示区， -->
        <div class="col-sm-1">
        </div>

		<div class="col-sm-2">

			<!-- List-Group Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title"><span class="glyphicon glyphicon-random"></span>INFOCMS</h1>
				</div>

                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="/ebook/" style="color:blue">图书管理</a></li>
                    <li><a href="/software/" style="color:blue">软件下载</a></li>
                    <li><a href="#" style="color:yellow">照片管理</a></li>
                    <li><a href="/eblog/" style="color:blue">博客文章</a></li>
                    <li><a href="#" style="color:yellow">网站收集</a></li>
                </ul>

			</div>

			<!-- Text Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title"><span class="glyphicon glyphicon-cog"></span>最新文章列表</h1>
				</div>
                <ul class="nav nav-tabs nav-stacked">
                    {%for blog in blogrlt%}
                    <li><a href="/eblog/showoneblog/?blogid={{blog.blogid}}">{{blog.blogname}}</a></li>
                    {%endfor%}
                </ul>
			</div>


		</div><!--/Left Column-->


		<!-- Center Column 中间列，主显示区，占6格（一半）-->
		<div class="col-sm-6">

			<!-- Alert
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
            -->

			<!-- Articles -->
			<div class="row">
				<article class="col-xs-12">
					<p class="pull-right"><span class="label label-success">最新图书</span></p>
                    <hr>
                    {%for book in bookrlt%}
                    <div class="btn-group">
                        <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{book.bookname}}
                        </button>
                        <ul class="dropdown-menu">
                            {%for file in book.filelist%}
                            <li><a class="dropdown-item" href="/ebook/downloadfile/?fileid={{file.fileid}}"><strong>{{file.name}}</strong>,
                                {{file.size}},{{file.uploaddate}}</a></li>
                            {%endfor%}
                        </ul>

                    </div> <!-- 下拉菜单显示资源文件列表 -->
                    <h6>出版社：{{book.bookpublisher}}</h6>
                    <h6>作者：{{book.bookauthors}}</h6>
                    <h6>简介：{{book.bookdetial}}</h6>
					<ul class="list-inline">
						<li><span class="glyphicon glyphicon-comment"></span>上传时间:{{book.updatetime}}</li>
						<li><span class="glyphicon glyphicon-share"></span>访问次数:{{book.accessnums}}</li>
					</ul>
                    {%endfor%}

				</article>
			</div>
			<hr>
			<div class="row">
				<article class="col-xs-12">
					<p class="pull-right"><span class="label label-success">最新软件</span></p>
                    <hr>
                    {%for soft in softrlt%}
                    <div class="btn-group">
                        <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{soft.softname}}
                        </button>
                        <ul class="dropdown-menu">
                            {%for file in soft.filelist%}
                            <li><a class="dropdown-item" href="/software/downloadsoft/?fileid={{file.fileid}}"><strong>{{file.name}}</strong>,
                                {{file.size}},{{file.uploaddate}}</a></li>
                            {%endfor%}
                        </ul>

                    </div>
                    <h6>简介：{{soft.softdetial}}</h6>
					<ul class="list-inline">
						<li><span class="glyphicon glyphicon-comment"></span>上传时间:{{soft.updatetime}}</li>
						<li><span class="glyphicon glyphicon-share"></span>访问次数:{{soft.accessnums}}</li>
					</ul>
                    {%endfor%}
				</article>
			</div>
			<hr>
		</div><!--/Center Column-->


	  <!-- Right Column 在边一行-->
	  <div class="col-sm-2">

			<!-- Form 一个登录FORM -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-log-in"></span>
                        {% if request.user.is_authenticated %}
						用户({{request.user.username}})已登录
                        {%else%}
                        未登录
                        {% endif %}
					</h3>
				</div>
				<div class="panel-body">
					<form method="POST" action="/login/">
						<div class="form-group">
							<input type="text" class="form-control" id="uid" name="uid" placeholder="用户名">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" id="pwd" name="pwd" placeholder="密码">
						</div>

						<button type="submit" class="btn btn-primary">登 录</button>
					</form>
				</div>
			</div>

			<!-- Progress Bars 处理进度条-->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-scale"></span>
						常用网站
					</h3>
				</div>
				<div class="panel-body">
				</div>
			</div>



	  </div><!--/Right Column -->
      <div class="col-sm-1">
      </div>  <!-- 左右空一列  -->


	</div><!--/container-fluid-->

	<footer>
        <div class="small-print">
        	<div class="container">
        		<p>版权 &copy; xuxiaoluck 2018 </p>
        	</div>
        </div>
	</footer>

</body>

</html>
